<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>
    {% include 'includes/head.html' %}
</head>
<body>
    {% include 'includes/header.html' %}

    <section id="content">
        <div class="inner">
            {% if is_front_page %}
            <!-- front page -->
                {% for page in paged_pages %}
                    <article class="post">
                        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
                        <p class="meta clearfix">
                            <span class="date_lsp">
                                le {{ page.date|date("d/m/Y", "Europe/Paris") }} {% if page.category %}dans {{ page.category }} {% endif %}
                            </span>
                            <span class="tags_lsp">
                                {% if page.tags %}<i class="fa fa-tags"></i>{% for tag in page.tags %}<a class="hvr_over" href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>{% endfor %}{% endif %} 
                            </span>
                        </p>
                        <p class="excerpt">{{ page.excerpt }}</p>
                    </article>
                {% endfor %}
                
                <div class="pagination clearfix">
                    <ul>
                        <li>{{ prev_page_link }}</li>
                        {% for i in 1..total_pages %}
                            {% if i == page_number %}
                                <li class="pi pi_a"><a href="/page/{{ i }}" class="page_item page_active"><i class="fa fa-clock-o"></i><span>{{ i }}</span></a></li>
                            {% else %}
                                <li class="pi"><a href="/page/{{ i }}" class="page_item">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li>{{ next_page_link }}</li>
                    </ul>
                </div>
            <!-- END front page -->
            <!-- Error 404 page -->
            {% elseif meta.title == "Error 404" %}
                <article>
                    {{ content }}
                </article>
            <!-- END Error 404 page -->
            <!-- blog posts -->
            {% else %}
                <article>
                    <h1>{{ meta.title }} </h1>
                    <p class="meta clearfix">
                        <span class="date_lsp">
                            {% if meta.date %}le {{ meta.date|date("d/m/Y", "Europe/Paris") }}{% endif %} {% if meta.category %}dans {{ meta.category }} {% endif %}
                        </span>
                        <span class="tags_lsp">
                            {% if meta.tags %}<i class="fa fa-tags"></i>{% for tag in meta.tags %}<a class="hvr_over" href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>{% endfor %}{% endif %} 
                        </span>
                    </p>
                    <div class="article">
                        {{ content }}
                    </div>  

                {% if meta.coordinates %}
                    <p>Coordonnées :</p>
                    <ul>
                    {% for coordinate in meta.coordinates %}
                        <li>{{ coordinate }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if meta.address %}
                    <p>Adresses :</p>
                    <ul>
                    {% for address in meta.address %}
                        <li>{{ address }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                    {{ map_article }}
                
                    <div class="pagination_article">
                    {% if next_page %}
                        <a href="{{ next_page.url }}" class="pa_recent">
                            <div class="pa_arrow"><i class="fa fa-angle-double-left"></i></div>
                            <div class="pa_title">
                                <span class="pa_date">{{ next_page.date|date("d/m/Y", "Europe/Paris") }}</span>
                                <br>
                                <span>{{ next_page.title }}</span>
                            </div>
                        </a>    
                    {% endif %} 
                    {% if prev_page %}
                        <a href="{{ prev_page.url }}" class="pa_older">
                            <div class="pa_title">
                                <span>{{ prev_page.title }}</span>
                                <br>
                                <span class="pa_date">{{ prev_page.date|date("d/m/Y", "Europe/Paris") }}</span>
                            </div>
                            <div class="pa_arrow"><i class="fa fa-angle-double-right"></i></div>
                        </a>
                    {% endif %} 
                    </div>
                 
                </article>
            <!-- END blog posts -->
            {% endif %}


        </div> <!-- END .inner -->
    </section>
    
    <!-- FOOTER -->
    {% include 'includes/footer.html' %}


</body>
</html>