<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>
    {% include 'includes/head.html' %}
</head>
<body>
    {% include 'includes/header.html' %}

    <section id="content">
        <div class="inner">
            {% if is_front_page %}
            <!-- front page -->
                {% for page in paged_pages %}
                    <article class="post">
                        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
                        <p class="meta clearfix">
                            <span class="tags_lsp">
                                {% if page.tags %}{% for tag in page.tags %}<a href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>{% endfor %}{% endif %} 
                            </span>
                            <span class="date_lsp">
                                le {{ page.date|date("d/m/Y", "Europe/Paris") }}
                            </span>
                            
                            
                             
                        </p>
                        <p class="excerpt">{{ page.excerpt }}</p>
                    </article>
                {% endfor %}
                
                <div class="pagination clearfix">
                    <ul>
                        <li>{{ prev_page_link }}</li>
                        {% for i in 1..total_pages %}
                            {% if i == page_number %}
                                <li><a href="/page/{{ i }}" class="page_item page_active">{{ i }}</a></li>
                            {% else %}
                                <li><a href="/page/{{ i }}" class="page_item">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li>{{ next_page_link }}</li>
                    </ul>
                </div>
                
            <!-- END front page -->
            {% else %}
                <article>
                <p class="meta">{{ meta.date }}</p>
                    <h1>{{ meta.title }}</h1>
                    {{ content }}

                    {% if meta.coordinates %}
                        <p>Coordonnées :</p>
                        <ul>
                        {% for coordinate in meta.coordinates %}
                            <li>{{ coordinate }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% if meta.address %}
                        <p>Adresses :</p>
                        <ul>
                        {% for address in meta.address %}
                            <li>{{ address }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                    {{ map_article }}

                    {% if meta.tags %}
                        <p class="meta">
                            Tags : 
                            {% for tag in meta.tags %}
                                <a href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>
                            {% endfor %}
                        </p>
                    {% endif %}  
                </article>

            {% endif %}


        </div> <!-- END .inner -->
    </section>
    
    <!-- FOOTER -->
    {% include 'includes/footer.html' %}


</body>
</html>