<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>
    {% include 'includes/head.html' %}
</head>
<body>
    {% include 'includes/header.html' %}

    <section id="content">
        <div class="inner">         

            <h1><i class="fa fa-tag"></i><a href="{{ page.url }}">#{{ current_tag }}</a></h1>
            {% for page in pages %}          
            <article>
                <h2 class="h1"><a href="{{ page.url }}">{{ page.title }}</a></h2>
                <p class="meta clearfix">
                    <span class="date_lsp">
                        le {{ page.date|date("d/m/Y", "Europe/Paris") }} dans {{ page.category }}
                    </span>
                    <span class="tags_lsp">
                        {% if page.tags %}<i class="fa fa-tags"></i>{% for tag in page.tags %}<a class="hvr_over" href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>{% endfor %}{% endif %} 
                    </span>
                </p>
                {{ page.excerpt }}
            </article>
            {% endfor %}
        </div>
    </section>
    <section>
        <div class="inner">
            <article>
                <h1><i class="fa fa-tags"></i>Tous les tags</h1>
                <ul class="tags_list">
                    {% for tag in tag_list %}
                        <li><a href="/tag/{{ tag }}">#{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </article>
        </div> <!-- END .inner -->
    </section>
    <!-- FOOTER -->
    {% include 'includes/footer.html' %}

   
</body>
</html>