// COLORS
// background-color
$color_bg: #fff;
// background-color header/footer
$color_hbg: #374641;
// color (for body text)
$color_txt: #151515;
// color for body links
//$color_a: #43442b;
$color_a: #374641;
// color for header links
$color_ha: #e2ebce;
// color for hover
$color_hvr: #57ad68;
//color for bottom borders
$color_brd: #e2ebce;

// 	LAYOUT
$width_max: 740px;
$inner_pad: 20px;

// 	TYPOGRAPHY
$font_basesize: 14px;
$font_text: 'Lato';
$font_title: 'Dosis';