@font-face {
    font-family: 'Route 159';
    src: url('Route159-UltraLight.woff2') format('woff2'),
        url('Route159-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Route 159';
    src: url('Route159-UltraLightItalic.woff2') format('woff2'),
        url('Route159-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Route 159';
    src: url('Route159-LightItalic.woff2') format('woff2'),
        url('Route159-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Route 159';
    src: url('Route159-Light.woff2') format('woff2'),
        url('Route159-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Route 159';
    src: url('Route159-SemiBoldItalic.woff2') format('woff2'),
        url('Route159-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Route 159';
    src: url('Route159-SemiBold.woff2') format('woff2'),
        url('Route159-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}