<meta charset="utf-8" />
<meta content="initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<title>{% if meta.title %}{{ meta.title|escape }} | {% endif %}{{ site_title }}</title>

{% if meta.description %}<meta name="description" content="{{ meta.description }}">{% endif %}
{% if meta.robots %}<meta name="robots" content="{{ meta.robots }}">{% endif %}
{% if meta.author %}<meta name="author" content="{{ meta.author }}">{% endif %}
{% if meta.license %}<meta name="license" content="{{ meta.license }}">{% endif %}
{% if meta.tags %}<meta name="keywords" content="{{ meta.tags | join(',') }}">{% endif %}

<!-- Normalize CSS -->
<link rel="stylesheet" href="{{ theme_url }}/css/normalize.css" type="text/css" />
<!-- Fonts from Google -->
<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Ruda:900">
<link type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<!-- Personal styles -->
<link rel="stylesheet" href="{{ theme_url }}/css/styles.css" type="text/css" />
<!-- Modernizr -->
<script src="{{ theme_url }}/scripts/modernizr-2.6.1.min.js"></script>